@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;  
    box-sizing: border-box;
    letter-spacing: -1px;
}
