.panel {
    border-radius: 10px;
    background: #3b2b50;
    box-shadow:  -5px -5px 10px #322544,
                 5px 5px 10px #44315c;
}

.panel.btn {
    user-select: none;
    cursor: pointer;
    background: #473460;
    transition: 0.15s ease-in;
}

.panel.btn.inactive {
    background: #23192f !important;
    cursor: default;
    opacity: 0.5;
}

.panel.btn:hover {
    background: #5a427a
}

.panel.btn:active:not(.inactive) {
    background: #3b2b50;
    box-shadow:  0px 0px 0px #322544,
    0px 0px 0px #44315c; 
}
* {
    color: white;
    user-select: none;
}
html, 
body, #app {
    height: 100%;
}

.hn {
    line-height: 24px !important;
}

.pixel-corners,
.pixel-corners--wrapper {
  clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px);
  position: relative;
}
.pixel-corners {
  border: 2px solid transparent;
}
.pixel-corners--wrapper {
  width: fit-content;
  height: fit-content;
}
.pixel-corners--wrapper .pixel-corners {
  display: block;
  clip-path: polygon(2px 4px,
    4px 4px,
    4px 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 2px),
    4px calc(100% - 2px),
    4px calc(100% - 4px),
    2px calc(100% - 4px));
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
  content: "";
  position: absolute;
  clip-path: polygon(0px calc(100% - 4px),
    2px calc(100% - 4px),
    2px calc(100% - 2px),
    4px calc(100% - 2px),
    4px 100%,
    calc(100% - 4px) 100%,
    calc(100% - 4px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 2px),
    calc(100% - 2px) calc(100% - 4px),
    100% calc(100% - 4px),
    100% 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 0px,
    4px 0px,
    4px 2px,
    2px 2px,
    2px 4px,
    0px 4px,
    0px 50%,
    2px 50%,
    2px 4px,
    4px 4px,
    4px 2px,
    calc(100% - 4px) 2px,
    calc(100% - 4px) 4px,
    calc(100% - 2px) 4px,
    calc(100% - 2px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 4px),
    calc(100% - 4px) calc(100% - 2px),
    4px calc(100% - 2px),
    4px calc(100% - 4px),
    2px calc(100% - 4px),
    2px 50%,
    0px 50%);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #64748b;
  display: block;
  pointer-events: none;
}
.pixel-corners::after {
  margin: -2px;
}